:root {
    --primary-text-color: rgba(255, 255, 255, 0.6);
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --hero-button: #ffffff;
    --section-title: #212121;
    --portfolio-button: #F5F4FA;
    --portfolio-text-button: #212121;
    --portfolio-project-p: #757575;
}

.style {
    font-family: 'Roboto';
}

.all-body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    background-color: var(--hero-button);
        
}
.port-body {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
    
        
}
.page-header {
    
    background-color: var(--hero-button);
}
.logo-link {
        
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        
        
        
        text-decoration: none;
        color:var(--accent-color);
}
.logo-accent {
    
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;

        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;

    
        color: var(--title-text-color);
}


.auth-list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    list-style: none
}
.auth-email {
    line-height: 1.14;
    color: #757575;
        text-decoration: none;
}
.auth-email:hover, 
.auth-email:focus {
    color: var(--accent-color);
}
.auth-phone {
    line-height: 1.14;
    color: #757575;
    text-decoration: none;
}
.auth-phone:hover, 
.auth-phone:focus {
    color: var(--accent-color);
}
.list {
    list-style: none;
}
.site-list {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    list-style: none

}
.site-link{    
    line-height: 1.14;
color: var(--title-text-color);
text-decoration: none;
}
.site-link.current {
    color: var(--accent-color);
}
.site-links {
    line-height: 1.14;
    color: var(--title-text-color);
    text-decoration: none;
}
.site-links.current {
    color: var(--accent-color);
}
.site-links:hover,
.site-links:focus {
    color: var(--accent-color);
}


   
    .hero {
        
background-color:#2F303A;
    }
    .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--hero-button);
        text-transform: uppercase;
    }
    .hero-button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        background-color: var(--hero-button) ;
        color: var(--portfolio-text-button);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        
        
    }
        .hero-button:hover, 
        .hero-button:focus {
            font-family: 'Roboto';
            font-style: normal;
            background-color: var(--accent-color);
            color: var(--hero-button);   
            font-size: 16px;
            border-radius: 4px;
            
            
        }
    .features {
        background-color: var(--hero-button);
    }
    .features-list {
    list-style: none
    }   

     .features-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        
            
    }
    .features-p {
        
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: var(--portfolio-project-p);
    }
    .section {
        background-color: var(--hero-button);
    }
    .section-list {
        list-style: none
    }
    .section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: var(--section-title)
    }
    .command {
        background-color: #F5F4FA;
        color: var(--section-title);
    }
    .command-list {
        list-style: none
    }
    .command-frame {
        text-align: center;
        
    }
    .command-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;

        color: var(--section-title)

    }
    .command-worker {
        
        font-size: 16px;
        line-height: 1.18;
        
    }
    .command-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        color: var(--portfolio-project-p);
    }
    .footer {
        
        background-color: #2F303A;;
        color: var(--hero-button);
    }
    .footer-accent {
        color: var(--hero-button);
    }
    .adress {
        
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
    }
    .adress-list {
        list-style: none
    }
    .adress-location {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: var(--hero-button);
        text-decoration: none;
        
    }
    .adress-email, .adress-phone {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: var(--primary-text-color);
        text-decoration: none;
        font-style: normal;
    }
        .adress-email:hover,
        .adress-email:focus {
            color: var(--accent-color);
            text-decoration: none;
            font-style: normal;
        }
                .adress-phone:hover,
                .adress-phone:focus {
                    color: var(--accent-color);
                    text-decoration: none;
                    font-style: normal;
                }


    .visually-hidden {
        color: transparent;
    }
    .button-list {
        list-style: none;
    }
    .port-button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        background-color: var(--hero-button);
        color: var(--portfolio-text-button);
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }
    .port-button:hover,
    .port-button:focus {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        background-color: var(--accent-color);
        color: var(--hero-button);
        border-radius: 4px;
            border: none;
            cursor: pointer;
    }
    .project-list a{
           
        text-decoration: none;
    }
    .project-list {
        list-style: none
    }
    .project-title {

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: var(--title-text-color);
        letter-spacing: 0.06em;
        
    }
    .project-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        color: var(--portfolio-project-p);
        
        
    }
    